In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

import warnings

# Suppress the FutureWarning
warnings.simplefilter(action='ignore', category=FutureWarning)

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/employee-performance-and-salary-dataset/50_Tasks_to_perform_on_dataset.pdf
/kaggle/input/employee-performance-and-salary-dataset/Employe_Performance_dataset.csv

## **Step 1:** *Load and Display Dataset*

In [2]:
# Load the dataset using the correct path
df = pd.read_csv('/kaggle/input/employee-performance-and-salary-dataset/Employe_Performance_dataset.csv')

In [3]:
# Display the first 10 rows
print(df.head(10))

   ID                Name  Age  Gender Department  Salary Joining Date  \
0   1        Cory Escobar   48  Female         HR    5641   2015-05-03
1   2     Timothy Sanchez   25   Other      Sales    4249   2020-11-09
2   3        Chad Nichols   57   Other      Sales    3058   2019-02-12
3   4  Christine Williams   58  Female         IT    5895   2017-09-08
4   5        Amber Harris   35   Other         IT    4317   2020-02-15
5   6         Ashley Howe   29  Female         HR    2591   2016-06-24
6   7         David Olson   39  Female      Sales    6826   2023-05-11
7   8        Amanda Baker   52   Other         HR    6285   2015-04-01
8   9       Jeremy Wright   63  Female      Sales    9862   2024-02-07
9  10      Brian Faulkner   30    Male         IT    8202   2018-05-26

   Performance Score  Experience    Status     Location  Session
0                2.0          16    Active     New York    Night
1                2.0          11  Inactive  Los Angeles  Evening
2                NaN           1  Inactive     New York  Morning
3                2.0          13  Inactive  Los Angeles  Evening
4                5.0          16  Inactive     New York  Evening
5                1.0           6    Active      Chicago  Evening
6                NaN           4    Active     New York    Night
7                NaN           8  Inactive      Chicago  Evening
8                NaN           3  Inactive     New York    Night
9                1.0           9    Active  Los Angeles  Morning

## **Step 2:** *Columns and their Data Types*

In [4]:
# Get column names and data types
print("Column Names and Data Types:")
print(df.dtypes)

Column Names and Data Types:
ID                     int64
Name                  object
Age                    int64
Gender                object
Department            object
Salary                 int64
Joining Date          object
Performance Score    float64
Experience             int64
Status                object
Location              object
Session               object
dtype: object

## **Step 3:** *Number of Rows and Columns*

In [5]:
# Get the shape of the DataFrame
rows, columns = df.shape
print(f"Rows: {rows}\nColumns: {columns}")

Rows: 1000
Columns: 12

## **Step 4:** *Select the Name, Age, and Salary Columns*

In [6]:
# Select specific columns
selected_columns = df[['Name', 'Age', 'Salary']]
print(selected_columns.head())

                 Name  Age  Salary
0        Cory Escobar   48    5641
1     Timothy Sanchez   25    4249
2        Chad Nichols   57    3058
3  Christine Williams   58    5895
4        Amber Harris   35    4317

## **Step 5:** *Select the First 5 Rows Using iloc*

In [7]:
# Select the first 5 rows
five_rows = df.iloc[:5]
print(five_rows)

   ID                Name  Age  Gender Department  Salary Joining Date  \
0   1        Cory Escobar   48  Female         HR    5641   2015-05-03
1   2     Timothy Sanchez   25   Other      Sales    4249   2020-11-09
2   3        Chad Nichols   57   Other      Sales    3058   2019-02-12
3   4  Christine Williams   58  Female         IT    5895   2017-09-08
4   5        Amber Harris   35   Other         IT    4317   2020-02-15

   Performance Score  Experience    Status     Location  Session
0                2.0          16    Active     New York    Night
1                2.0          11  Inactive  Los Angeles  Evening
2                NaN           1  Inactive     New York  Morning
3                2.0          13  Inactive  Los Angeles  Evening
4                5.0          16  Inactive     New York  Evening

## **Step 6:** *Rows Where Department is "Sales" Using loc*

In [8]:
# Select rows where Department is "Sales"
sales_department = df.loc[df['Department'] == 'Sales']
print(sales_department.head())

    ID             Name  Age  Gender Department  Salary Joining Date  \
1    2  Timothy Sanchez   25   Other      Sales    4249   2020-11-09
2    3     Chad Nichols   57   Other      Sales    3058   2019-02-12
6    7      David Olson   39  Female      Sales    6826   2023-05-11
8    9    Jeremy Wright   63  Female      Sales    9862   2024-02-07
10  11      Nicole Bell   42  Female      Sales    5336   2015-01-28

    Performance Score  Experience    Status     Location  Session
1                 2.0          11  Inactive  Los Angeles  Evening
2                 NaN           1  Inactive     New York  Morning
6                 NaN           4    Active     New York    Night
8                 NaN           3  Inactive     New York    Night
10                3.0           7    Active  Los Angeles  Evening

## **Step 7:** *Rows Where Salary > 8000 and Status is "Active"*

In [9]:
# Select rows based on conditions
high_salary_active = df[(df['Salary'] > 8000) & (df['Status'] == 'Active')]
print(high_salary_active.head())

    ID            Name  Age Gender Department  Salary Joining Date  \
9   10  Brian Faulkner   30   Male         IT    8202   2018-05-26
24  25   Tracy Carlson   21   Male         HR    9275   2022-04-09
38  39    Jordan Scott   33  Other      Sales    8678   2016-05-15
39  40     Lisa Wagner   36   Male         HR    8870   2024-08-12
60  61  Andrew Shannon   51  Other      Sales    8544   2020-02-08

    Performance Score  Experience  Status     Location  Session
9                 1.0           9  Active  Los Angeles  Morning
24                4.0          12  Active     New York  Morning
38                5.0           9  Active  Los Angeles  Evening
39                4.0          17  Active  Los Angeles  Evening
60                NaN           6  Active     New York  Evening

## **Step 8:** *Employees with >5 Years and Performance Score >= 4*

In [10]:
# Filter rows based on experience and performance score
experienced_high_performance = df[(df['Experience'] > 5) & (df['Performance Score'] >= 4)]
print(experienced_high_performance.head())

    ID                Name  Age  Gender Department  Salary Joining Date  \
4    5        Amber Harris   35   Other         IT    4317   2020-02-15
11  12   Rodney Richardson   60   Other         HR    6908   2015-03-14
17  18  Jacqueline Randall   31  Female         HR    3519   2018-05-18
18  19      Nancy Stephens   38    Male         HR    9061   2017-07-16
24  25       Tracy Carlson   21    Male         HR    9275   2022-04-09

    Performance Score  Experience    Status  Location  Session
4                 5.0          16  Inactive  New York  Evening
11                4.0          19    Active   Chicago    Night
17                4.0           6    Active  New York  Morning
18                5.0          16  Inactive   Chicago    Night
24                4.0          12    Active  New York  Morning

## **Step 9:** *Every Alternate Row Using Slicing with iloc*

In [11]:
# Select every alternate row
alternate_rows = df.iloc[::2]
print(alternate_rows.head())

   ID           Name  Age  Gender Department  Salary Joining Date  \
0   1   Cory Escobar   48  Female         HR    5641   2015-05-03
2   3   Chad Nichols   57   Other      Sales    3058   2019-02-12
4   5   Amber Harris   35   Other         IT    4317   2020-02-15
6   7    David Olson   39  Female      Sales    6826   2023-05-11
8   9  Jeremy Wright   63  Female      Sales    9862   2024-02-07

   Performance Score  Experience    Status  Location  Session
0                2.0          16    Active  New York    Night
2                NaN           1  Inactive  New York  Morning
4                5.0          16  Inactive  New York  Evening
6                NaN           4    Active  New York    Night
8                NaN           3  Inactive  New York    Night

## **Step 10:** *Employees in "Sales" with Top 10% Salaries*

In [12]:
# Calculate the salary threshold for the top 10%
top_10_percent_salary = df['Salary'].quantile(0.9)

# Filter rows based on Department and top salary threshold
top_sales_employees = df[(df['Department'] == 'Sales') & (df['Salary'] >= top_10_percent_salary)]
print(top_sales_employees.head())

      ID             Name  Age  Gender Department  Salary Joining Date  \
8      9    Jeremy Wright   63  Female      Sales    9862   2024-02-07
22    23     Bryce Carter   35  Female      Sales    9598   2015-12-16
29    30    Rachel Ramsey   22    Male      Sales    9661   2016-08-18
215  216       Sara Jones   50  Female      Sales    9377   2019-10-16
228  229  Christie Warren   51  Female      Sales    9139   2020-08-16

     Performance Score  Experience    Status     Location  Session
8                  NaN           3  Inactive     New York    Night
22                 4.0           4  Inactive     New York    Night
29                 2.0          17  Inactive      Chicago    Night
215                NaN           3    Active  Los Angeles  Morning
228                5.0           1    Active      Chicago    Night

## **Step 11:** *Replace all "Inactive" values in the Status column with "Retired"*

In [13]:
# Replace "Inactive" with "Retired" in the Status column
df['Status'] = df['Status'].replace('Inactive', 'Retired')
print("Replace 'Inactive' with 'Retired' in the Status column")
print(df[['Status']].head())  # Display first few rows of Status column to verify

Replace 'Inactive' with 'Retired' in the Status column
    Status
0   Active
1  Retired
2  Retired
3  Retired
4  Retired

## **Step 12:** *Add a new column Bonus where values are 10% of the Salary column*

In [14]:
# Add a Bonus column that is 10% of the Salary column
df['Bonus'] = df['Salary'] * 0.1

# Print the first few rows to verify
print(df[['Salary', 'Bonus']].head())

   Salary  Bonus
0    5641  564.1
1    4249  424.9
2    3058  305.8
3    5895  589.5
4    4317  431.7

## **Step :13** *Update the Performance Score of employees in the "IT" department to 5 if it is NaN*

In [15]:
# Update Performance Score to 5 for employees in the "IT" department if it is NaN
df.loc[(df['Department'] == 'IT') & (df['Performance Score'].isna()), 'Performance Score'] = 5

# Print rows where Performance Score was updated (using 'ID' instead of 'EmployeeID')
print(df[df['Department'] == 'IT'][['ID', 'Performance Score']].head())

    ID  Performance Score
3    4                2.0
4    5                5.0
9   10                1.0
12  13                5.0
13  14                5.0

## **Step :14** *Modify the Experience of employees with less than 2 years to 2*

In [16]:
# Set Experience to 2 for employees with less than 2 years of experience
df.loc[df['Experience'] < 2, 'Experience'] = 2
# Print the updated Experience column
print(df[['ID', 'Experience']].head())

   ID  Experience
0   1          16
1   2          11
2   3           2
3   4          13
4   5          16

## **Step :15** *Normalize the Salary column so that all values are between 0 and 1*

In [17]:
# Normalize the Salary column using Min-Max scaling
df['Salary'] = (df['Salary'] - df['Salary'].min()) / (df['Salary'].max() - df['Salary'].min())

# Print the normalized Salary column
print(df[['ID', 'Salary']].head())

   ID    Salary
0   1  0.454500
1   2  0.280020
2   3  0.130735
3   4  0.486337
4   5  0.288543

## **Step :16** *Replace all Location values with "Remote" for employees with a Performance Score below 3*

In [18]:
# Replace Location with "Remote" for employees with Performance Score below 3
df.loc[df['Performance Score'] < 3, 'Location'] = 'Remote'

# Print the updated Location column
print(df[['ID', 'Location']].head())

   ID  Location
0   1    Remote
1   2    Remote
2   3  New York
3   4    Remote
4   5  New York

## **Step :17** *Create a new column Experience Level with values "Junior", "Mid", or "Senior" based on the Experience*

In [19]:
# Create Experience Level based on Experience
def experience_level(experience):
    if experience < 3:
        return 'Junior'
    elif 3 <= experience < 7:
        return 'Mid'
    else:
        return 'Senior'

df['Experience Level'] = df['Experience'].apply(experience_level)

# Print the Experience Level column
print(df[['ID', 'Experience Level']].head())

   ID Experience Level
0   1           Senior
1   2           Senior
2   3           Junior
3   4           Senior
4   5           Senior

## **Step :18** *Add a new row with specific values using the append() method*

In [20]:
# Create a new row to be added
new_row = pd.DataFrame({
    'ID': [101], 
    'Name': ['John Doe'], 
    'Age': [30], 
    'Gender': ['Male'], 
    'Department': ['HR'], 
    'Salary': [50000], 
    'Joining Date': ['2023-12-01'], 
    'Performance Score': [4.0], 
    'Experience': [5], 
    'Status': ['Active'], 
    'Location': ['Office'], 
    'Session': ['Morning']
})

# Concatenate the new row with the existing DataFrame
df = pd.concat([df, new_row], ignore_index=True)

# Print the last 5 rows to confirm the new row was added
print(df.tail())

        ID             Name  Age  Gender Department        Salary  \
996    997     Todd Johnson   29  Female      Sales      0.594009
997    998  Michael Sanchez   18    Male      Sales      0.409000
998    999    Ashley Taylor   51  Female         IT      0.428930
999   1000      Shawn Scott   45    Male         IT      0.670469
1000   101         John Doe   30    Male         HR  50000.000000

     Joining Date  Performance Score  Experience   Status     Location  \
996    2018-07-20                NaN          12  Retired     New York
997    2023-07-05                5.0           3   Active     New York
998    2022-02-18                4.0           9  Retired  Los Angeles
999    2022-07-31                2.0           4   Active       Remote
1000   2023-12-01                4.0           5   Active       Office

      Session  Bonus Experience Level
996   Morning  675.4           Senior
997   Morning  527.8              Mid
998   Evening  543.7           Senior
999   Morning  736.4              Mid
1000  Morning    NaN              NaN

## **Step :19** *Delete the column Session from the DataFrame*

In [21]:
# Delete the 'Session' column
df.drop('Session', axis=1, inplace=True)

# Print the first 5 rows to confirm the column is deleted
print(df.head())

   ID                Name  Age  Gender Department    Salary Joining Date  \
0   1        Cory Escobar   48  Female         HR  0.454500   2015-05-03
1   2     Timothy Sanchez   25   Other      Sales  0.280020   2020-11-09
2   3        Chad Nichols   57   Other      Sales  0.130735   2019-02-12
3   4  Christine Williams   58  Female         IT  0.486337   2017-09-08
4   5        Amber Harris   35   Other         IT  0.288543   2020-02-15

   Performance Score  Experience   Status  Location  Bonus Experience Level
0                2.0          16   Active    Remote  564.1           Senior
1                2.0          11  Retired    Remote  424.9           Senior
2                NaN           2  Retired  New York  305.8           Junior
3                2.0          13  Retired    Remote  589.5           Senior
4                5.0          16  Retired  New York  431.7           Senior

## **Step :20** *Delete rows where the Age is greater than 60*

In [22]:
# Delete rows where Age is greater than 60
df = df[df['Age'] <= 60]

# Print the first 5 rows to confirm the rows are deleted
print(df.head())

   ID                Name  Age  Gender Department    Salary Joining Date  \
0   1        Cory Escobar   48  Female         HR  0.454500   2015-05-03
1   2     Timothy Sanchez   25   Other      Sales  0.280020   2020-11-09
2   3        Chad Nichols   57   Other      Sales  0.130735   2019-02-12
3   4  Christine Williams   58  Female         IT  0.486337   2017-09-08
4   5        Amber Harris   35   Other         IT  0.288543   2020-02-15

   Performance Score  Experience   Status  Location  Bonus Experience Level
0                2.0          16   Active    Remote  564.1           Senior
1                2.0          11  Retired    Remote  424.9           Senior
2                NaN           2  Retired  New York  305.8           Junior
3                2.0          13  Retired    Remote  589.5           Senior
4                5.0          16  Retired  New York  431.7           Senior

## **Step :21** *Add a new column Age Group with values "Young", "Middle-aged", or "Senior" based on Age*

In [23]:
# Add a new column Age Group based on Age
def age_group(age):
    if age < 30:
        return 'Young'
    elif 30 <= age < 50:
        return 'Middle-aged'
    else:
        return 'Senior'

df['Age Group'] = df['Age'].apply(age_group)

# Print the first 5 rows to confirm the new column
print(df.head())

   ID                Name  Age  Gender Department    Salary Joining Date  \
0   1        Cory Escobar   48  Female         HR  0.454500   2015-05-03
1   2     Timothy Sanchez   25   Other      Sales  0.280020   2020-11-09
2   3        Chad Nichols   57   Other      Sales  0.130735   2019-02-12
3   4  Christine Williams   58  Female         IT  0.486337   2017-09-08
4   5        Amber Harris   35   Other         IT  0.288543   2020-02-15

   Performance Score  Experience   Status  Location  Bonus Experience Level  \
0                2.0          16   Active    Remote  564.1           Senior
1                2.0          11  Retired    Remote  424.9           Senior
2                NaN           2  Retired  New York  305.8           Junior
3                2.0          13  Retired    Remote  589.5           Senior
4                5.0          16  Retired  New York  431.7           Senior

     Age Group
0  Middle-aged
1        Young
2       Senior
3       Senior
4  Middle-aged

## **Step :22** *Identify all columns with missing values using the isna() method*

In [24]:
# Identify columns with missing values
missing_values = df.isna().sum()

# Print the columns with missing values
print(missing_values[missing_values > 0])

Performance Score    291
Bonus                  1
Experience Level       1
dtype: int64

## **Step :23** *Fill the missing values in Performance Score with the average score of that column*

In [25]:
# Fill missing values in Performance Score with the column mean (without using inplace=True)
df['Performance Score'] = df['Performance Score'].fillna(df['Performance Score'].mean())

# Print the first 5 rows to confirm the operation
print(df.head())

   ID                Name  Age  Gender Department    Salary Joining Date  \
0   1        Cory Escobar   48  Female         HR  0.454500   2015-05-03
1   2     Timothy Sanchez   25   Other      Sales  0.280020   2020-11-09
2   3        Chad Nichols   57   Other      Sales  0.130735   2019-02-12
3   4  Christine Williams   58  Female         IT  0.486337   2017-09-08
4   5        Amber Harris   35   Other         IT  0.288543   2020-02-15

   Performance Score  Experience   Status  Location  Bonus Experience Level  \
0           2.000000          16   Active    Remote  564.1           Senior
1           2.000000          11  Retired    Remote  424.9           Senior
2           3.442786           2  Retired  New York  305.8           Junior
3           2.000000          13  Retired    Remote  589.5           Senior
4           5.000000          16  Retired  New York  431.7           Senior

     Age Group
0  Middle-aged
1        Young
2       Senior
3       Senior
4  Middle-aged

## **Step :24** *Drop all rows with missing values using the dropna() method*

In [26]:
# Drop rows with missing values
df = df.dropna()

# Print the first 5 rows to confirm the operation
print(df.head())

   ID                Name  Age  Gender Department    Salary Joining Date  \
0   1        Cory Escobar   48  Female         HR  0.454500   2015-05-03
1   2     Timothy Sanchez   25   Other      Sales  0.280020   2020-11-09
2   3        Chad Nichols   57   Other      Sales  0.130735   2019-02-12
3   4  Christine Williams   58  Female         IT  0.486337   2017-09-08
4   5        Amber Harris   35   Other         IT  0.288543   2020-02-15

   Performance Score  Experience   Status  Location  Bonus Experience Level  \
0           2.000000          16   Active    Remote  564.1           Senior
1           2.000000          11  Retired    Remote  424.9           Senior
2           3.442786           2  Retired  New York  305.8           Junior
3           2.000000          13  Retired    Remote  589.5           Senior
4           5.000000          16  Retired  New York  431.7           Senior

     Age Group
0  Middle-aged
1        Young
2       Senior
3       Senior
4  Middle-aged

## **Step :25** *Replace missing values in Performance Score with the median of the scores, grouped by Department*

In [27]:
# Replace missing Performance Score with the median of the department
df['Performance Score'] = df.groupby('Department')['Performance Score'].transform(
    lambda x: x.fillna(x.median()))

# Print the first 5 rows to confirm the operation
print(df.head())

   ID                Name  Age  Gender Department    Salary Joining Date  \
0   1        Cory Escobar   48  Female         HR  0.454500   2015-05-03
1   2     Timothy Sanchez   25   Other      Sales  0.280020   2020-11-09
2   3        Chad Nichols   57   Other      Sales  0.130735   2019-02-12
3   4  Christine Williams   58  Female         IT  0.486337   2017-09-08
4   5        Amber Harris   35   Other         IT  0.288543   2020-02-15

   Performance Score  Experience   Status  Location  Bonus Experience Level  \
0           2.000000          16   Active    Remote  564.1           Senior
1           2.000000          11  Retired    Remote  424.9           Senior
2           3.442786           2  Retired  New York  305.8           Junior
3           2.000000          13  Retired    Remote  589.5           Senior
4           5.000000          16  Retired  New York  431.7           Senior

     Age Group
0  Middle-aged
1        Young
2       Senior
3       Senior
4  Middle-aged

## **Step :26** *Identify rows where the employee is in the "IT" department and their Age is above the average Age of "IT" employees*

In [28]:
# Calculate the average age for IT department
avg_age_it = df[df['Department'] == 'IT']['Age'].mean()

# Identify rows where Age is above the average age in IT department
it_above_avg_age = df[(df['Department'] == 'IT') & (df['Age'] > avg_age_it)]

# Print the result
print(it_above_avg_age)

       ID                Name  Age  Gender Department    Salary Joining Date  \
3       4  Christine Williams   58  Female         IT  0.486337   2017-09-08
33     34    Mr. Brian Nelson   42  Female         IT  0.400100   2017-08-17
34     35            Lisa Fry   51  Female         IT  0.907997   2017-09-26
41     42      Charles Mccall   58   Other         IT  0.939709   2024-11-10
47     48        Jake Johnson   48   Other         IT  0.480446   2017-02-03
..    ...                 ...  ...     ...        ...       ...          ...
979   980    Crystal Espinoza   55  Female         IT  0.368137   2023-09-04
984   985        Jeffrey Hall   41   Other         IT  0.846453   2018-08-27
986   987     Melissa Bradley   39  Female         IT  0.952996   2015-07-05
998   999       Ashley Taylor   51  Female         IT  0.428930   2022-02-18
999  1000         Shawn Scott   45    Male         IT  0.670469   2022-07-31

     Performance Score  Experience   Status     Location  Bonus  \
3                  2.0          13  Retired       Remote  589.5
33                 1.0           4   Active       Remote  520.7
34                 4.0          17  Retired  Los Angeles  925.9
41                 5.0           8  Retired  Los Angeles  951.2
47                 3.0           2   Active  Los Angeles  584.8
..                 ...         ...      ...          ...    ...
979                2.0           5   Active       Remote  495.2
984                3.0          16  Retired  Los Angeles  876.8
986                1.0          13   Active       Remote  961.8
998                4.0           9  Retired  Los Angeles  543.7
999                2.0           4   Active       Remote  736.4

    Experience Level    Age Group
3             Senior       Senior
33               Mid  Middle-aged
34            Senior       Senior
41            Senior       Senior
47            Junior  Middle-aged
..               ...          ...
979              Mid       Senior
984           Senior  Middle-aged
986           Senior  Middle-aged
998           Senior       Senior
999              Mid  Middle-aged

[150 rows x 14 columns]

## **Step :27** *Identify rows with duplicate Name and Joining Date combinations, and remove duplicates*

In [29]:
# Remove duplicates based on Name and Joining Date
df = df.drop_duplicates(subset=['Name', 'Joining Date'])

# Print the first 5 rows to confirm the operation
print(df.head())

   ID                Name  Age  Gender Department    Salary Joining Date  \
0   1        Cory Escobar   48  Female         HR  0.454500   2015-05-03
1   2     Timothy Sanchez   25   Other      Sales  0.280020   2020-11-09
2   3        Chad Nichols   57   Other      Sales  0.130735   2019-02-12
3   4  Christine Williams   58  Female         IT  0.486337   2017-09-08
4   5        Amber Harris   35   Other         IT  0.288543   2020-02-15

   Performance Score  Experience   Status  Location  Bonus Experience Level  \
0           2.000000          16   Active    Remote  564.1           Senior
1           2.000000          11  Retired    Remote  424.9           Senior
2           3.442786           2  Retired  New York  305.8           Junior
3           2.000000          13  Retired    Remote  589.5           Senior
4           5.000000          16  Retired  New York  431.7           Senior

     Age Group
0  Middle-aged
1        Young
2       Senior
3       Senior
4  Middle-aged

## **Step :28** *Remove rows where the Experience value is inconsistent with the Age (e.g., Experience > Age - 18)*

In [30]:
# Remove rows where Experience is inconsistent with Age (Experience > Age - 18)
df = df[df['Experience'] <= df['Age'] - 18]

# Print the first 5 rows to confirm the operation
print(df.head())

   ID                Name  Age  Gender Department    Salary Joining Date  \
0   1        Cory Escobar   48  Female         HR  0.454500   2015-05-03
2   3        Chad Nichols   57   Other      Sales  0.130735   2019-02-12
3   4  Christine Williams   58  Female         IT  0.486337   2017-09-08
4   5        Amber Harris   35   Other         IT  0.288543   2020-02-15
5   6         Ashley Howe   29  Female         HR  0.072199   2016-06-24

   Performance Score  Experience   Status  Location  Bonus Experience Level  \
0           2.000000          16   Active    Remote  564.1           Senior
2           3.442786           2  Retired  New York  305.8           Junior
3           2.000000          13  Retired    Remote  589.5           Senior
4           5.000000          16  Retired  New York  431.7           Senior
5           1.000000           6   Active    Remote  259.1              Mid

     Age Group
0  Middle-aged
2       Senior
3       Senior
4  Middle-aged
5        Young

## **Step :29** *Sort the DataFrame by Salary in descending order*

In [31]:
# Sort the DataFrame by Salary in descending order
df = df.sort_values(by='Salary', ascending=False)

# Print the first 5 rows to confirm the sorting
print(df.head())

      ID                Name  Age  Gender Department    Salary Joining Date  \
811  812        Jesse Miller   52    Male         HR  1.000000   2020-11-27
531  532  Jeffrey Williamson   54   Other         IT  0.999373   2015-12-08
937  938       Gary Mitchell   52  Female      Sales  0.996240   2016-09-22
908  909       Sara Martinez   34   Other         HR  0.994736   2024-02-18
120  121       David Hampton   39  Female         HR  0.993482   2024-07-06

     Performance Score  Experience   Status     Location  Bonus  \
811           3.442786          12   Active      Chicago  999.3
531           5.000000          16  Retired      Chicago  998.8
937           5.000000          20  Retired  Los Angeles  996.3
908           3.442786           6  Retired     New York  995.1
120           3.000000          15  Retired     New York  994.1

    Experience Level    Age Group
811           Senior       Senior
531           Senior       Senior
937           Senior       Senior
908              Mid  Middle-aged
120           Senior  Middle-aged

## **Step :30** *Sort the DataFrame by Department and then by Joining Date in ascending order*

In [32]:
# Sort the DataFrame by Department and Joining Date in ascending order
df = df.sort_values(by=['Department', 'Joining Date'], ascending=[True, True])

# Print the first 5 rows to confirm the sorting
print(df.head())

      ID               Name  Age  Gender Department    Salary Joining Date  \
514  515  Taylor Williamson   48    Male         HR  0.912259   2015-03-10
11    12  Rodney Richardson   60   Other         HR  0.613312   2015-03-14
7      8       Amanda Baker   52   Other         HR  0.535222   2015-04-01
677  678    Michelle Durham   35    Male         HR  0.486964   2015-04-25
0      1       Cory Escobar   48  Female         HR  0.454500   2015-05-03

     Performance Score  Experience   Status Location  Bonus Experience Level  \
514           3.442786          17  Retired  Chicago  929.3           Senior
11            4.000000          19   Active  Chicago  690.8           Senior
7             3.442786           8  Retired  Chicago  628.5           Senior
677           3.442786          12   Active  Chicago  590.0           Senior
0             2.000000          16   Active   Remote  564.1           Senior

       Age Group
514  Middle-aged
11        Senior
7         Senior
677  Middle-aged
0    Middle-aged

## **Step :31** *Rank all employees by Salary within their Department and add the rank as a new column*

In [33]:
# Rank employees by Salary within each Department
df['Salary Rank'] = df.groupby('Department')['Salary'].rank(method='min', ascending=False)

# Print the updated DataFrame
print(df[['ID', 'Name', 'Department', 'Salary', 'Salary Rank']].head())

      ID               Name Department    Salary  Salary Rank
514  515  Taylor Williamson         HR  0.912259         15.0
11    12  Rodney Richardson         HR  0.613312         81.0
7      8       Amanda Baker         HR  0.535222        103.0
677  678    Michelle Durham         HR  0.486964        110.0
0      1       Cory Escobar         HR  0.454500        114.0

## **Step :32** *Sort the dataset by Experience in descending order, but break ties using Performance Score in ascending order*

In [34]:
# Sort by Experience descending, then by Performance Score ascending
df_sorted = df.sort_values(by=['Experience', 'Performance Score'], ascending=[False, True])

# Print the sorted DataFrame
print(df_sorted[['ID', 'Name', 'Experience', 'Performance Score']].head())

      ID            Name  Experience  Performance Score
538  539  Brandon Church          20                1.0
355  356  Laura Castillo          20                1.0
402  403   Briana Martin          20                1.0
828  829  Michael Snyder          20                1.0
529  530      Katie Vega          20                2.0

## **Step :33** *Create a new DataFrame containing only employees in "HR" with a Salary above 5000*

In [35]:
# Filter for HR employees with Salary > 5000
hr_above_5000 = df[(df['Department'] == 'HR') & (df['Salary'] > 5000)]

# Print the filtered DataFrame
print(hr_above_5000[['ID', 'Name', 'Department', 'Salary']].head())

Empty DataFrame
Columns: [ID, Name, Department, Salary]
Index: []

## **Step :34** *Filter out all rows where the Location is "Chicago"*

In [36]:
# Remove rows where Location is "Chicago"
df_no_chicago = df[df['Location'] != 'Chicago']

# Print the DataFrame after removal
print(df_no_chicago.head())

      ID           Name  Age  Gender Department    Salary Joining Date  \
0      1   Cory Escobar   48  Female         HR  0.454500   2015-05-03
728  729  Linda Hawkins   60   Other         HR  0.314490   2015-06-05
330  331      Juan Dean   39    Male         HR  0.603535   2015-06-28
417  418   Angel Fuller   39    Male         HR  0.208323   2015-08-04
367  368      Adam Lane   20   Other         HR  0.685635   2015-09-16

     Performance Score  Experience   Status  Location  Bonus Experience Level  \
0             2.000000          16   Active    Remote  564.1           Senior
728           3.000000           3  Retired  New York  452.4              Mid
330           4.000000          20  Retired  New York  683.0           Senior
417           3.442786           3   Active  New York  367.7              Mid
367           1.000000           2   Active    Remote  748.5           Junior

       Age Group  Salary Rank
0    Middle-aged        114.0
728       Senior        141.0
330  Middle-aged         84.0
417  Middle-aged        157.0
367        Young         61.0

## **Step :35** *Delete all rows where the Performance Score is below 2*

In [37]:
# Remove rows where Performance Score is below 2
df_high_performance = df[df['Performance Score'] >= 2]

# Print the updated DataFrame
print(df_high_performance.head())

      ID               Name  Age  Gender Department    Salary Joining Date  \
514  515  Taylor Williamson   48    Male         HR  0.912259   2015-03-10
11    12  Rodney Richardson   60   Other         HR  0.613312   2015-03-14
7      8       Amanda Baker   52   Other         HR  0.535222   2015-04-01
677  678    Michelle Durham   35    Male         HR  0.486964   2015-04-25
0      1       Cory Escobar   48  Female         HR  0.454500   2015-05-03

     Performance Score  Experience   Status Location  Bonus Experience Level  \
514           3.442786          17  Retired  Chicago  929.3           Senior
11            4.000000          19   Active  Chicago  690.8           Senior
7             3.442786           8  Retired  Chicago  628.5           Senior
677           3.442786          12   Active  Chicago  590.0           Senior
0             2.000000          16   Active   Remote  564.1           Senior

       Age Group  Salary Rank
514  Middle-aged         15.0
11        Senior         81.0
7         Senior        103.0
677  Middle-aged        110.0
0    Middle-aged        114.0

## **Step :36** *Find the average Salary for each Department*

In [38]:
# Calculate the average Salary for each Department
avg_salary_by_dept = df.groupby('Department')['Salary'].mean()

# Print the average salary by department
print(avg_salary_by_dept)

Department
HR       0.493042
IT       0.491439
Sales    0.485476
Name: Salary, dtype: float64

## **Step :37** *Calculate the total Salary of all employees grouped by Status*

In [39]:
# Calculate the total Salary grouped by Status
total_salary_by_status = df.groupby('Status')['Salary'].sum()

# Print the total salary by status
print(total_salary_by_status)

Status
Active     156.175483
Retired    166.678867
Name: Salary, dtype: float64

## **Step :38** *Find the maximum Performance Score for employees in each Location*

In [40]:
# Find the maximum Performance Score for each Location
max_performance_by_location = df.groupby('Location')['Performance Score'].max()

# Print the maximum performance score by location
print(max_performance_by_location)

Location
Chicago        5.0
Los Angeles    5.0
New York       5.0
Remote         2.0
Name: Performance Score, dtype: float64

## **Step 39:** *Calculate the total Salary paid to employees who joined in each year*

In [41]:
# Convert 'Joining Date' to datetime format (if it's not already)
df['Joining Date'] = pd.to_datetime(df['Joining Date'])

# Extract the year from the 'Joining Date'
df['Join Year'] = df['Joining Date'].dt.year

# Calculate the total Salary by Join Year
total_salary_by_year = df.groupby('Join Year')['Salary'].sum()

# Print the total salary by join year
print(total_salary_by_year)

Join Year
2014     1.391953
2015    24.429055
2016    31.497117
2017    30.965405
2018    33.857232
2019    30.577964
2020    30.566683
2021    38.256079
2022    29.696415
2023    38.964903
2024    32.651542
Name: Salary, dtype: float64

## **Step :40** *Find the department with the highest average Performance Score*

In [42]:
# Find the department with the highest average Performance Score
highest_avg_performance_dept = df.groupby('Department')['Performance Score'].mean().idxmax()

# Print the department with the highest average performance score
print(highest_avg_performance_dept)

IT

## **Step :41** *Count the number of employees in each Location grouped by their Status*

In [43]:
employee_count_by_location = df.groupby(['Location', 'Status']).size()
print(employee_count_by_location)

Location     Status
Chicago      Active     85
             Retired    82
Los Angeles  Active     85
             Retired    86
New York     Active     78
             Retired    87
Remote       Active     76
             Retired    80
dtype: int64

## **Step 42:** *Group employees by Status and calculate the sum, mean, and standard deviation of their Salary*

In [44]:
# Group by 'Status' and calculate the sum, mean, and standard deviation of 'Salary'
salary_stats_by_status = df.groupby('Status')['Salary'].agg(['sum', 'mean', 'std'])

# Print the result
print(salary_stats_by_status)

                sum      mean       std
Status
Active   156.175483  0.482023  0.294442
Retired  166.678867  0.497549  0.292181

## **Step :43** *Use the apply() method to create a new column Monthly Salary by dividing the Salary by 12*

In [45]:
# Create a new column Monthly Salary by dividing Salary by 12
df['Monthly Salary'] = df['Salary'].apply(lambda x: x / 12)

# Print the updated DataFrame with Monthly Salary
print(df[['ID', 'Name', 'Salary', 'Monthly Salary']].head())

      ID               Name    Salary  Monthly Salary
514  515  Taylor Williamson  0.912259        0.076022
11    12  Rodney Richardson  0.613312        0.051109
7      8       Amanda Baker  0.535222        0.044602
677  678    Michelle Durham  0.486964        0.040580
0      1       Cory Escobar  0.454500        0.037875

## **Step :44** *Use the applymap() method to convert all string values in the DataFrame to uppercase*

In [46]:
# Apply the transformation using applymap()
df_upper = df.applymap(lambda x: x.upper() if isinstance(x, str) else x)

# Print the DataFrame with uppercase string values
print(df_upper.head())

      ID               Name  Age  Gender Department    Salary Joining Date  \
514  515  TAYLOR WILLIAMSON   48    MALE         HR  0.912259   2015-03-10
11    12  RODNEY RICHARDSON   60   OTHER         HR  0.613312   2015-03-14
7      8       AMANDA BAKER   52   OTHER         HR  0.535222   2015-04-01
677  678    MICHELLE DURHAM   35    MALE         HR  0.486964   2015-04-25
0      1       CORY ESCOBAR   48  FEMALE         HR  0.454500   2015-05-03

     Performance Score  Experience   Status Location  Bonus Experience Level  \
514           3.442786          17  RETIRED  CHICAGO  929.3           SENIOR
11            4.000000          19   ACTIVE  CHICAGO  690.8           SENIOR
7             3.442786           8  RETIRED  CHICAGO  628.5           SENIOR
677           3.442786          12   ACTIVE  CHICAGO  590.0           SENIOR
0             2.000000          16   ACTIVE   REMOTE  564.1           SENIOR

       Age Group  Salary Rank  Join Year  Monthly Salary
514  MIDDLE-AGED         15.0       2015        0.076022
11        SENIOR         81.0       2015        0.051109
7         SENIOR        103.0       2015        0.044602
677  MIDDLE-AGED        110.0       2015        0.040580
0    MIDDLE-AGED        114.0       2015        0.037875

## **Step :45** *Create a second dataset containing Department and Budget. Perform an inner join with the original dataset*

In [47]:
# Create a second dataset with Department and Budget
budget_data = pd.DataFrame({
    'Department': ['HR', 'IT', 'Finance', 'Sales'],
    'Budget': [500000, 1000000, 700000, 300000]
})

# Perform an inner join with the original dataset on 'Department'
df_with_budget = pd.merge(df, budget_data, on='Department', how='inner')

# Print the resulting DataFrame with the Budget column
print(df_with_budget[['ID', 'Name', 'Department', 'Budget']].head())

    ID               Name Department  Budget
0  515  Taylor Williamson         HR  500000
1   12  Rodney Richardson         HR  500000
2    8       Amanda Baker         HR  500000
3  678    Michelle Durham         HR  500000
4    1       Cory Escobar         HR  500000

## **Step :46** *Merge the dataset with another dataset that includes additional information about employee ID and their recent Projects*

In [48]:
# Create a dataset with 'ID' and 'Recent Projects'
recent_projects = pd.DataFrame({
    'ID': [101, 102, 103, 104],
    'Recent Projects': ['Project A', 'Project B', 'Project C', 'Project D']
})

# Merge with the original dataset based on 'ID'
df_merged_projects = pd.merge(df, recent_projects, on='ID', how='inner')

# Print the result
print(df_merged_projects[['Name', 'Recent Projects']].head())

              Name Recent Projects
0  Jennifer Hansen       Project B
1      Jose Henson       Project D
2   James Saunders       Project C
3    Bryan Navarro       Project A

## **Step :47** *Perform a left join with a dataset containing Department and Team Lead details, adding Team Lead to the DataFrame*

In [49]:
# Create a dataset with 'Department' and 'Team Lead'
department_team_lead = pd.DataFrame({
    'Department': ['HR', 'IT', 'Finance', 'Sales'],
    'Team Lead': ['John', 'Sarah', 'Michael', 'Emma']
})

# Perform a left join with the original dataset
df_with_team_lead = pd.merge(df, department_team_lead, on='Department', how='left')

# Print the result
print(df_with_team_lead[['Name', 'Department', 'Team Lead']].head())

                Name Department Team Lead
0  Taylor Williamson         HR      John
1  Rodney Richardson         HR      John
2       Amanda Baker         HR      John
3    Michelle Durham         HR      John
4       Cory Escobar         HR      John

## **Step :48** *Create a DataFrame with employee ID and Project Count, then merge it with the original dataset. Calculate the average Salary per project*

In [50]:
# Create a DataFrame with employee ID and Project Count
project_count = pd.DataFrame({
    'ID': [101, 102, 103, 104],
    'Project Count': [3, 2, 5, 4]
})

# Merge it with the original dataset
df_project_count = pd.merge(df, project_count, on='ID', how='inner')

# Calculate the average Salary per project
df_project_count['Avg Salary per Project'] = df_project_count['Salary'] / df_project_count['Project Count']

# Print the result
print(df_project_count[['Name', 'Salary', 'Project Count', 'Avg Salary per Project']].head())

              Name    Salary  Project Count  Avg Salary per Project
0  Jennifer Hansen  0.112434              2                0.056217
1      Jose Henson  0.556906              4                0.139227
2   James Saunders  0.592504              5                0.118501
3    Bryan Navarro  0.942968              3                0.314323

## **Step :49** *Calculate the percentage increase in Salary for each employee compared to the average Salary in their Department*

In [51]:
# Calculate the average Salary by Department
avg_salary_by_department = df.groupby('Department')['Salary'].transform('mean')

# Calculate the percentage increase in Salary for each employee
df['Salary Increase (%)'] = ((df['Salary'] - avg_salary_by_department) / avg_salary_by_department) * 100

# Print the result
print(df[['Name', 'Department', 'Salary', 'Salary Increase (%)']].head())

                  Name Department    Salary  Salary Increase (%)
514  Taylor Williamson         HR  0.912259            85.026626
11   Rodney Richardson         HR  0.613312            24.393416
7         Amanda Baker         HR  0.535222             8.555056
677    Michelle Durham         HR  0.486964            -1.232695
0         Cory Escobar         HR  0.454500            -7.817182

# Thanks!